@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font_titulo: normal bold 3.5rem "Passion One", sans-serif;
    --font_texto: normal 400 1.20rem "Sriracha", cursive;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
header{
    position: relative;
    height: 190px;
    text-align: center;
    color: white;
    background-color: black;
}
.header-content{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.titulo{
    font: var(--font_titulo);
    font-variant: small-caps;
}
.space{
     padding: 20px 0;
     font-size: 1rem;
}
.link{
    position: relative;
    padding-bottom: 2px;
    font-weight: bold;
}
/* Links geral */
.link{
 color: white;
}
/* Personalizacao dos Pseudo */

.link:active{
    padding: 3px;
    border-radius: 5px;
    color: black;
    background-color: hsla(0, 0%, 100%, 0.947);
}
.link::after{
    content: " ";
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
}
.link:hover::after{
    width: 100%;
}
/* FIM */

.fundo{
    color: white;
}
.fnd_i{
    background: black url('Imagens/background001.jpg') right bottom/ cover no-repeat fixed;
}
.fnd_ii{
    background: black url('Imagens/background002.jpg') center bottom/ cover no-repeat fixed;
}
.max{
    max-width: 1200px;
    margin: auto;
}
.max > p{
  padding: 3em;
  font: var(--font_texto);
  line-height: 2em;
}
.deco{
    width:350px;
    background-color: rgba(0, 0, 0, 0.455);
}
footer{
    font-size: .9em;
    padding: 7px;
    text-align: center;
    color: white;
    background-color: black;
}
.link_footer{
    text-align: center;
}