@charset "UTF-8";

body.glass{
    width: 100%;
    min-height: 100vh;
    background: black url('../imagens/fundo.jpg') center top / cover no-repeat fixed;
}
.content{
    max-width: 450px;
    margin: 4em auto;
    padding: 15px;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.845);
    border-radius: 8px;
    line-height: 1.3em;
    background-color: transparent;
    backdrop-filter: blur(10px);
}
h1{
    padding: 15px 0;
    font: italic bold 1.7rem Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-size: .9rem;
}